name: Arduino Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Arduino CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install Arduino AVR Core
        run: |
          arduino-cli config init
          arduino-cli core update-index
          arduino-cli core install arduino:avr
      - name: Compile Sketch
        run: |
          mkdir -p pir_motion_sensor
          cp pir_motion_sensor.ino pir_motion_sensor/pir_motion_sensor.ino
          arduino-cli compile --fqbn arduino:avr:uno pir_motion_sensor

